body{
  background-color:black;
  font-family:Verdana, Geneva, sans-serif;
  font-size:100%;
  font-weight:normal;
  line-height:1.7em;
  
}
.cookie-btn {
  background: #e84118;
  border: 0;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

 
 

@media (max-width: 800px) {
  body {
  font-size:150%;
  }
  LI{
    padding-bottom:55px;
  }
  
  a{
    padding-bottom:55%;
  }
}

.box-1{
   background-color:#FFFAF0;
   color:black;
   border: 10px red solid;
   padding:20px;
   width:100%;
    
}


.youtuberlist{ 
padding:10px;
border-color:black;

}
a{
  text-decoration: none;
  color:white;
}
a:hover{
  color:#FF1493;
}

a:visited{
  color:white;
}

.Endpoint{
  padding-left:2%;
}

.TopBar{
  background-color:black;
  color:#ffffff;
}

.container{
  width:100%;
  margin:auto;
  overflow:hidden;
  padding-left:0%;
}

#main-footer{
  background-color:black;
  color:#ffffff;
}

#navbar{
  background-color:black;
  color:#fff;
}

#navbar ul{
  padding:0;
  list-style: none;
}
#navbar li{
  display:inline;
  padding-right:30px;
}
#leftHalf {
   background: url(bg-1.jpg);
   width: 50%;
   position: absolute;
   left: 0px;
   height: 100%;
}
#rightHalf {

   width: 50%;
   position: absolute;
   right: 0px;
   height: 100%;
}